*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Microsoft JhengHei', sans-serif;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}