@import './components/reset';

.header {
    --header-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    z-index: 10;

    .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            --limit-height: 20px;
            padding-top: var(--limit-height / 2);

            width: 200px;
            height: calc(var(--header-height) - var(--limit-height));

            // img {
            //     height: calc(var(--header-height) - var(--limit-height));
            // }

            a {
                display: block;
                height: 100%;
                background-image: url('../images/logo.webp');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .menu {
            height: 100%;

            >ul {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 15px;

                li {
                    height: 100%;

                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .has-badge {
                            position: relative;
                        }

                        .badge {
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            background-color: #000000ce;
                            color: #ffffff;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 0.6rem;
                            font-weight: 600;
                        }
                    }

                    i {
                        font-size: 1.1rem;
                    }

                    >ul {
                        background: #fff;
                        color: #000;
                        padding: 20px 0;
                        display: none;
                        position: absolute;
                        min-width: 200px;
                        border-radius: 10px;

                        li {
                            padding: 10px 20px;

                            &:hover {
                                background-color: #f0f0f0;
                            }
                        }
                    }

                    &.sub-menu {
                        position: relative;

                        &:hover {
                            >ul {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.swiper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }




    .prev-btn {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        color: #fff;
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2;
    }

    .items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity 0.5s ease-in-out;

        &.fade-out {
            opacity: 0;
        }

        li {
            display: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000080;
                z-index: 1;
            }

            .content {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                z-index: 2;
            }

            &.active {
                display: flex;
            }
        }
    }

    .next-btn {
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2;
    }

    .navigate {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50px;
        color: #fff;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 2;

        >a {
            border-radius: 99999px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: #fff;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &.active {
                transform: scale(0.7);
            }

            &:hover {
                transform: scale(0.9);
            }
        }
    }

    .link-btn {
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        background-color: #e9e9e9;
        color: #000;
    }

    h2 {
        font-weight: 500;
        font-size: 1.8rem;
    }
}

.product-category {
    margin: 40px auto;

    .product-category-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .category-item {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            position: relative;
            overflow: hidden;

            h5 {
                position: relative;
                text-align: center;
                line-height: 1.5;
                z-index: 2;
            }

            .item-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ad3e3e;
                z-index: 1;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: transform 0.3s ease-in-out;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #00000048;
                    z-index: 99;
                }
            }

            &:hover {
                .item-background {
                    transform: scale(1.2);
                }
            }
        }
    }
}


.product-recommend {
    margin: 100px auto;

    .product-recommend-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .product-item {

            .product-image {
                position: relative;

                img {
                    max-width: 100%;
                    height: auto;
                }

                .add-cart {
                    position: absolute;
                    padding: 10px 20px;
                    background-color: #00000083;
                    color: #fff;
                    font-size: 0.8rem;
                    border-radius: 5px;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: none;
                }
            }

            .product-content {
                font-size: 0.9rem;
                margin-top: 10px;
                text-align: center;
                line-height: 1.5;
            }


            &:hover {
                .add-cart {
                    display: block;
                }
            }

        }
    }
}

.footer {
    background-color: #e5e5e5;
    padding: 60px 0;

    .footer-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .footer-title {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
        }

        .footer-list {
            display: flex;
            gap: 10px;
            font-size: 1.1rem;
        }
    }

    .payment-method {
        margin-top: 50px;
        display: grid;
        gap: 10px;
        text-align: center;
        font-size: 2rem;

        img {
            max-width: 100px;
            height: auto;
        }
    }

    .footer-rule {
        margin-top: 30px;
        text-align: center;
        font-size: 0.9rem;
        display: grid;
        gap: 10px;
    }

    .rule-list {
        ul {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

    }
}

@media (max-width: 768px) {
    .product-category {
        .product-category-wrap {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    .product-recommend {
        .product-recommend-wrap {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}

@media (max-width: 475px) {
    .product-category {
        .product-category-wrap {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }
    }

    .product-recommend {
        .product-recommend-wrap {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }
    }
}