@import './components/reset';

.header {
    --header-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;

    .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            --limit-height: 20px;
            padding-top: var(--limit-height / 2);

            width: 200px;
            height: calc(var(--header-height) - var(--limit-height));

            // img {
            //     height: calc(var(--header-height) - var(--limit-height));
            // }

            a {
                display: block;
                height: 100%;
                background-image: url('../images/logo.webp');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .menu {
            height: 100%;

            >ul {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 15px;

                li {
                    height: 100%;

                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .has-badge {
                            position: relative;
                        }

                        .badge {
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            background-color: #000000ce;
                            color: #ffffff;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 0.6rem;
                            font-weight: 600;
                        }
                    }

                    i {
                        font-size: 1.1rem;
                    }

                    >ul {
                        background: #fff;
                        color: #000;
                        padding: 20px 0;
                        display: none;
                        position: absolute;
                        min-width: 200px;
                        border-radius: 10px;

                        li {
                            padding: 10px 20px;

                            &:hover {
                                background-color: #f0f0f0;
                            }
                        }
                    }

                    &.sub-menu {
                        position: relative;

                        &:hover {
                            >ul {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}